html {
  font: 16px/1.4 "avenir";
}



/*
 * Reset some basic styles
 */

* {
  font-weight: normal;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-size: 1rem;
}

html, body, ul, li, dl, h1, h2, h3 {
  margin: 0; padding: 0;
}

a { color: currentcolor; }

.center {
  text-align: center;
}

body {
  background-color: #000;
  color: ivory;
}


/*
 * Typography
 */

b, .bold { font-weight: 500; }
h1 { font-weight: 700; }
abbr { font-size: 75%; }

dt {
  color: red;
  font-weight: 500;
}


/*
 * Header and logo
 */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 4rem;
}

.logo h1 {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.7);
  padding: .07em .5rem 0;

  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.05em;
}

.logo h2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
}

.logo {
  text-align: center;
}

header .arrow {
  font-size: 3rem;
  text-align: center;
}

header .arrow a {
  text-decoration: none;
}

/*
 * Layout
 */

section {
  max-width: 32rem;
  margin: 0 auto;
}

section {
  padding: .5rem 1.5rem;
  margin: 2rem auto;
}

p {
  margin: .5rem 0;
}

dl {
  margin: .5rem 0;
}

dd {
  margin-bottom: 1rem;
  margin-left: 0;
}

dd:last-child {
  margin-bottom: 0;
}

main {
  background-color: rgba(0, 0, 0, 0.3);
}

main > img {
  width: 100vw;
}

/*
 * Navigation menu
 */

nav {
  background-color: rgba(255, 0, 0, 0.4);
  padding: 0 1rem;
  border: 0 solid rgba(255, 200, 200, 0.3);
  border-width: 2px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  line-height: 2;
}

nav a {
  display: inline-flex;
  width: 100%;
  flex-shrink: 0;
}

nav a span {
  display: none;
  flex-grow: 1;
  text-align: right;
}

nav a b {
  font-weight: 600;
  text-transform: lowercase;
  font-variant: small-caps;
}

nav a {
  text-decoration: none;
}

nav a:hover, nav a:hover span {
  text-decoration: underline;
}


/*
 * Teaser
 */

.teaser {
  flex-grow: 1;
  text-align: justify;
}

@media (min-width: 28rem) {
  .teaser {
    border-radius: 0.5rem;
  }
}


/*
 * Sections
 */

section h2 {
  text-align: center;
  font-weight: 600;
}

section#company {
}

/* @media (min-width: 1100px) { */
/*   section { */
/*     max-width: 27rem; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*   } */

/*   header { */
/*     display: flex; */
/*     margin: 0 1rem; */
/*   } */

/*   nav { */
/*     max-width: none; */
/*   } */

/*   .logo { */
/*     margin: 0; */
/*   } */

/*   nav ul { */
/*     display: flex; */
/*     justify-content: space-around; */
/*     list-style: none; */
/*     padding-left: 0; */
/*   } */

/*   nav a { */
/*     flex-direction: column; */
/*   } */

/*   nav { flex-grow: 1; } */
/*   nav a b { line-height: 1; } */
/*   nav a span { font-size: smaller; } */
/* } */



/*
 * Video background
 */

video { position: fixed; top: 50%; left: 50%; }
video { min-width: 100%; min-height: 100%; }
video { width: auto; height: auto; }
video { z-index: -2; }
video { transform: translateX(-50%) translateY(-50%); }
/* .fade { position: fixed; top: 0; left: 0; bottom: 0; right: 0; } */
/* .fade { background-color: rgba(0, 0, 0, 0.4); } */
/* .fade { z-index: -1; } */



@media (min-width: 600px)  {
  html { font-size: 18px; }
}
@media (min-width: 1100px) {
  html { font-size: 22px; }
}
