@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

html {
  font: 16px/1.4 "roboto";
}



/*
 * Reset some basic styles
 */

* {
  font-weight: normal;
  box-sizing: border-box;
}

table {
  line-height: inherit;
  color: inherit;
  font-size: inherit;
}

h1, h2, h3, h4 {
  font-size: 1rem;
}

html, body, ul, li, dl, h1, h2, h3, h4 {
  margin: 0; padding: 0;
}

a { color: currentcolor; }

.center {
  text-align: center;
}

body {
  background-color: #000;
  color: white;
}


/*
 * Typography
 */

b, .bold { font-weight: 500; }
h1 { font-weight: 700; }
abbr { font-size: 75%; }

dt {
  color: red;
  font-weight: 500;
}


/*
 * Header and logo
 */

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;
  color: white;
}

header .logo h1 {
  font-size: 3rem;
  display: inline-block;
  background-color: rgba(230, 0, 0, 1);
  padding: .125em .4em .05em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
}

header p:not(.arrow) {
  text-shadow: 0px 0px 30px rgba(0, 0, 0, .6);
}

.logo h1 {
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.06em;
}

.logo h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
}

.logo {
  text-align: center;
}


/*
 * Layout
 */

section .content, aside .content {
  max-width: 27rem;
  padding: .5rem 1.5rem;
  margin: 2rem auto;
}

section, aside {
  width: 100%;
}

section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}

section:last-child {
  background-color: white;
  color: black;
}

aside {
  background-color: white;
  color: black;
  cursor: pointer;
}

aside .summary {
  text-align: center;
  text-decoration: underline;
}

body:not(.js) aside .summary {
  display: none;
}

section:nth-child(even):not(.teaser) {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

p {
  margin: .5rem 0;
}

dl {
  margin: .5rem 0;
}

dd {
  margin-bottom: 1rem;
  margin-left: 0;
}

dd:last-child {
  margin-bottom: 0;
}

section:not(.teaser), aside {
  border-top: .5rem solid white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gallery img {
  width: 50vw;
  padding: 2rem 0;
}

/*
 * Navigation menu
 */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(230, 0, 0, 1);
  color: white;
  transition: 0.5s ease all;
}

body.js:not(.scrolled) nav {
  opacity: 0;
}

body nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  line-height: 1.7;
  flex-grow: 1;
}

ul.simple {
  list-style-type: none;
}

nav a {
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  top: -.05em;
  width: 100%;
  font-weight: 600;
  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav .logo {
  display: none;
  height: 1.5rem;
}

nav .logo, nav ul {
  margin: 0 1em;
}

nav .logo h1 {
  background: transparent;
  font-size: 1.5rem;
  line-height: 1;
}

nav .logo h2 {
  display: none;
}

@media (min-width: 27rem) {
  nav .logo {
    display: inline;
  }
}


/*
 * Teaser
 */

.teaser {
  flex-grow: 1;
  text-align: justify;
}

.teaser p:first-child {
  font-weight: bold;
}


/*
 * Sections
 */

section h2 {
  font-size: 1.5rem;
  line-height: 4rem;
}

section h2, section h3 {
  text-align: center;
  font-weight: 600;
}

ul.wrap {
  list-style-type: none;
}

ul.wrap {
  display: flex;
  flex-wrap: wrap;
}

ul.wrap li {
  flex-shrink: 0;
}

ul.wrap li:before {
  content: '•';
  padding: 0 .5rem;
}

aside ul {
  margin-left: 1rem;
}

aside ul li {
  margin: .5rem 0;
}

body.js aside .details {
  max-height: 0;
  transition: .5s ease all;
  overflow-y: hidden;
}

body.js aside.expanded .details {
  max-height: 60rem;
}

section:not(.teaser) {
  padding: 6rem 0;
}

section, aside {
  width: 100%;
}

.contactinfo {
  margin: 2rem 0;
}

.contactinfo tr {
  vertical-align: top;
}

.contactinfo td:first-child {
  text-align: right;
  padding-right: .5rem;
  font-weight: bold;
}

.contactinfo tbody:not(:first-child) tr:first-child td {
  border-top: 1rem solid transparent;
}

.card {
  display: flex;
  line-height: 1.2;
  margin: 8px;
  background: white;
  color: black;
}

.card .info {
  padding: 6px 8px 0 0;
  margin-bottom: 8px;
}

.card table {
  border-collapse: collapse;
}

.card {
  font-size: 12px;
}

.card h3, .card h4 {
  font-size: inherit;
}

.card img {
  width: 80px;
  height: 100px;
  margin-right: 8px;
}

.card table td:first-child {
  text-align: left;
  padding-right: 16px;
}

.card td {
  white-space: nowrap;
}

.card h3 { line-height: 1; }
.card h4 { line-height: 1.5; }

.cardgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .5rem 0 2rem;
}

section#contact .content {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > h3 {
  margin-top: .5rem;
}

td {
  padding: 0;
  border: 0;
}

.mono {
  font-family: courier;
}

/*
 * Video background
 */

video { position: fixed; top: 50%; left: 50%; }
video { min-width: 100%; min-height: 100%; }
video { width: auto; height: auto; }
video { z-index: -2; }
video { transform: translateX(-50%) translateY(-50%); }
.fade { position: fixed; top: 0; left: 0; bottom: 0; right: 0; }
.fade { background-color: rgba(0, 0, 0, 0.1); }
.fade { z-index: -1; }

/*
 * Responsive font size
 */

@media (min-width: 600px)  {
  html { font-size: 18px; }
}
@media (min-width: 1100px) {
  html { font-size: 24px; }
  nav { font-size: 1.25rem; }
}

header .arrow {
  font-size: 1.5rem;
  padding-bottom: 5vh;
  text-align: center;
  animation: bounce 5s infinite;
}

header .arrow a {
  text-decoration: none;
}


/*
 * Animation
 */

@keyframes bounce {
  0%, 35%, 50%, 65%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-.5em);
  }
  55% {
    transform: translateY(-.25em);
  }
}


.card h3 {
  text-align: left;
}

.gallery {
  display: none;
  list-style-type: none;
}

.gallery li {
  display: inline;
}