@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

html {
  font: 16px/1.4 "roboto";
}



/*
 * Reset some basic styles
 */

* {
  font-weight: normal;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-size: 1rem;
}

html, body, ul, li, dl, h1, h2, h3 {
  margin: 0; padding: 0;
}

a { color: currentcolor; }

.center {
  text-align: center;
}

body {
  background-color: #000;
  color: white;
}


/*
 * Typography
 */

b, .bold { font-weight: 500; }
h1 { font-weight: 700; }
abbr { font-size: 75%; }

dt {
  color: red;
  font-weight: 500;
}


/*
 * Header and logo
 */

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;
  color: white;
}

header .logo h1 {
  font-size: 3rem;
  display: inline-block;
  background-color: rgba(200, 0, 0, 1);
  padding: .1em .25em 0;
  border-radius: .25rem;
  box-shadow:  0px 0px 30px rgba(0, 0, 0, .2);
}

header p:not(.arrow) {
  text-shadow: 0px 0px 30px rgba(0, 0, 0, .6);
}

.logo h1 {
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.06em;
}

.logo h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
}

.logo {
  text-align: center;
}

header .arrow {
  font-size: 3rem;
  text-align: center;
}

header .arrow a {
  text-decoration: none;
}

/*
 * Layout
 */

section {
  max-width: 27rem;
  margin: 0 auto;
}

section {
  padding: .5rem 1.5rem;
  margin: 2rem auto;
}

p {
  margin: .5rem 0;
}

dl {
  margin: .5rem 0;
}

dd {
  margin-bottom: 1rem;
  margin-left: 0;
}

dd:last-child {
  margin-bottom: 0;
}

main {
  border-top: .5rem solid white;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > img {
  width: 50vw;
  padding: 2rem 0;
}

/*
 * Navigation menu
 */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  color: red;
  padding: 0 1rem;
  box-shadow: 0px .5rem 1rem -.5rem rgba(0, 0, 0, 0.8);
  transition: 0.5s ease all;
}

body:not(.scrolled) nav {
  opacity: 0;
}

body.scrolled nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body.scrolled main {
  padding-top: 2rem;
}

@media (min-width: 1100px) {
  body.scrolled main {
    padding-top: 2.5rem;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  line-height: 2;
  flex-grow: 1;
}

nav a {
  display: inline-flex;
  width: 100%;
  flex-shrink: 0;
}

nav a span {
  display: none;
  flex-grow: 1;
  text-align: right;
}

nav a b {
  font-weight: 600;
  text-transform: lowercase;
  font-variant: small-caps;
}

nav a {
  text-decoration: none;
}

nav a:hover, nav a:hover span {
  text-decoration: underline;
}

nav .logo {
  display: inline;
  height: 1.5rem;
}

nav .logo h1 {
  background: transparent;
  color: red;
  display: none;
  font-size: 1.5rem;
  line-height: 1;
}

@media (min-width: 27rem) {
  nav .logo h1 {
    display: inline;
  }
}


/*
 * Teaser
 */

.teaser {
  flex-grow: 1;
  text-align: justify;
}

@media (min-width: 28rem) {
  .teaser {
    border-radius: 0.5rem;
  }
}


/*
 * Sections
 */

section h2, section h3 {
  text-align: center;
  font-weight: 600;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

section ul li {
  flex-shrink: 0;
}

section ul li:before {
  content: '•';
  padding: 0 .5rem;
}

section:not(.teaser) {
  padding-top: 6rem;
}

/* @media (min-width: 1100px) { */
/*   section { */
/*     max-width: 27rem; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*   } */

/*   header { */
/*     display: flex; */
/*     margin: 0 1rem; */
/*   } */

/*   nav { */
/*     max-width: none; */
/*   } */

/*   .logo { */
/*     margin: 0; */
/*   } */

/*   nav ul { */
/*     display: flex; */
/*     justify-content: space-around; */
/*     list-style: none; */
/*     padding-left: 0; */
/*   } */

/*   nav a { */
/*     flex-direction: column; */
/*   } */

/*   nav { flex-grow: 1; } */
/*   nav a b { line-height: 1; } */
/*   nav a span { font-size: smaller; } */
/* } */



/*
 * Video background
 */

video { position: fixed; top: 50%; left: 50%; }
video { min-width: 100%; min-height: 100%; }
video { width: auto; height: auto; }
video { z-index: -2; }
video { transform: translateX(-50%) translateY(-50%); }
.fade { position: fixed; top: 0; left: 0; bottom: 0; right: 0; }
.fade { background-color: rgba(255,255,255, 0.1); }
.fade { z-index: -1; }



@media (min-width: 600px)  {
  html { font-size: 18px; }
}
@media (min-width: 1100px) {
  html { font-size: 24px; }
  nav { font-size: 1.25rem; }
}
