@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

html {
  font: 16px/1.4 "roboto", helvetica, sans-serif;
}



/*
 * Reset some basic styles
 */

* {
  font-weight: normal;
  box-sizing: border-box;
}

table {
  line-height: inherit;
  color: inherit;
  font-size: inherit;
}

h1, h2, h3, h4 {
  font-size: 1rem;
}

html, body, ul, li, dl, h1, h2, h3, h4 {
  margin: 0; padding: 0;
}

a { color: currentcolor; }

.center {
  text-align: center;
}

body {
  background-color: #000;
  color: white;
}


/*
 * Typography
 */

b, .bold { font-weight: 500; }
h1 { font-weight: 700; }
abbr { font-size: 75%; }

dt {
  color: white;
  font-weight: 500;
}

/*
 * Colors and backgrounds
 */

header .logo h1 {
  background-color: rgba(230, 0, 0, 1);
}

.fade {
  opacity: 0.3;
  background-color: black;
  background-image: url("squairy.png");
}

nav {
  background-color: rgba(230, 0, 0, 1);
  color: white;
}

footer {
  background-color: white;
  color: #222;
}

section:nth-child(odd) {
  background-color: rgba(60, 80, 180, 0.85);
}

section:nth-child(even):not(.teaser) {
  background-color: rgba(255, 255, 255, 1);
  background: url(redox_01.png);
  color: #222;
}

section:nth-child(even):not(.teaser) h2 {
  color: #333;
}

/*
 * Header and logo
 */

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  padding-top: 1rem;
}

@media (min-width: 800px) {
  header {
    padding-top: 4rem;
  }
}

header .logo h1 {
  font-size: 3rem;
  display: inline-block;
  background-color: rgba(230, 0, 0, 1);
  padding: .125em .4em .05em;
}

header p:not(.arrow) {
  text-shadow: 0px 0px 30px rgba(0, 0, 0, .6);
}

.logo h1 {
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.06em;
}

.logo h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
}

.logo {
  text-align: center;
}


/*
 * Layout
 */

.section-part:first-child > .content {
  max-width: 27rem;
  padding: .5rem 1.5rem;
  margin: 2rem auto;
}

.subsection > .content {
  margin: .5rem auto 2rem;
  padding: 0 1.5rem;
}

section {
  width: 100%;
}

aside {
  cursor: pointer;
}

aside .summary {
  text-align: center;
  text-decoration: underline;
}

body:not(.js) aside .summary {
  display: none;
}

p {
  margin: .5rem 0;
}

dl {
  margin: .5rem 0;
}

dd {
  margin-bottom: 1rem;
  margin-left: 0;
}

dd:last-child {
  margin-bottom: 0;
}

main {
  border-top: .5rem solid white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery img.small {
  width: 130px;
  height: 98px;
}

/*
 * Navigation menu
 */

nav {
  display: none;
  align-items: center;
  width: 100%;
  transition: 0.5s ease all;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 600px) {
  nav {
    display: flex;
  }
}

body.js:not(.scrolled) nav {
  opacity: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  line-height: 1.7;
  flex-grow: 1;
}

ul.simple {
  list-style-type: none;
}

nav a {
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  top: -.05em;
  width: 100%;
  font-weight: 600;
  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav .logo {
  display: none;
  height: 1.5rem;
}

nav .logo, nav ul {
  margin: 0 1em;
}

nav .logo h1 {
  background: transparent;
  font-size: 1.5rem;
  line-height: 1;
}

nav .logo h2 {
  display: none;
}

@media (min-width: 27rem) {
  nav .logo {
    display: inline;
  }
}


/*
 * Teaser
 */

.teaser {
  flex-grow: 1;
  text-align: justify;
}

.teaser p:first-child {
  font-weight: bold;
}


/*
 * Sections
 */

.section-part > h2 {
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: -.05em;
}

.section-part > h3 {
  letter-spacing: -.05em;
  font-weight: normal;
  font-weight: 200;
}

section h2, section h3 {
  font-weight: 600;
  text-align: center;
}

ul.wrap {
  list-style-type: none;
}

ul.wrap {
  display: flex;
  flex-wrap: wrap;
}

ul.wrap li {
  flex-shrink: 0;
}

ul.wrap li:before {
  content: '•';
  padding: 0 .5em;
}

aside {
  font-size: 80%;
  margin-top: 2rem;
}

aside ul {
  margin-left: 1rem;
}

aside ul li {
  margin: .5rem 0;
}

body.js aside .details {
  max-height: 0;
  transition: .5s ease all;
  overflow-y: hidden;
}

body.js aside.expanded .details {
  max-height: 60rem;
}

body.js aside.expanded .summary {
  opacity: 0;
}

section:not(.teaser) {
  padding: 6rem 0;
}

section:last-of-type {
}

section, aside {
  width: 100%;
}

.contactinfo {
  margin: 2rem 0;
}

.contactinfo tr {
  vertical-align: top;
}

.contactinfo td:first-child {
  text-align: right;
  padding-right: .5rem;
  font-weight: bold;
}

.contactinfo tbody:not(:first-child) tr:first-child td {
  border-top: 1rem solid transparent;
}

.card {
  display: flex;
  line-height: 1.2;
  font-size: 12px;
  margin: 8px;
  color: black;
  border: 0px solid #ccc;
}

.card .info {
  padding: 6px 8px 0 0;
  margin-bottom: 8px;
}

.card table {
  border-collapse: collapse;
}

.card h3, .card h4 {
  font-size: inherit;
}

.card img {
  width: 80px;
  height: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 12px;
}

.card table td:first-child {
  text-align: left;
  padding-right: 8px;
}

.card td {
  white-space: nowrap;
}

.card h3 {
  line-height: 10px;
  font-size: 14px;
}

.card h4 {
  line-height: 2;
  font-size: 14px;
}

.cardgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .5rem 0 2rem;
}

section#contact .content {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > h3 {
  margin-top: .5rem;
}

td {
  padding: 0;
  border: 0;
}

.mono {
  font-family: menlo, courier, monospace;
}

/*
 * Video background
 */

video, img.frame {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 600px) {
  video {
    display: block;
  }
}

@media (max-width: 600px) {
  img.frame {
    display: block;
  }
}

img.frame {
  transition: 3s ease all;
  opacity: 0;
}

img.frame:nth-child(odd) {
  animation-name: slidezoom-reverse;
}

body.mobile img.frame {
  display: block !important;
}

img.frame.active {
  opacity: 1;
}

img.frame.active, img.frame.semiactive {
  animation: slidezoom 12s linear infinite;
}

.fade { position: fixed; top: 0; left: 0; bottom: 0; right: 0; }
.fade { z-index: -1; }

/*
 * Responsive font size
 */

@media (min-width: 600px)  {
  html { font-size: 18px; }
}
@media (min-width: 1100px) {
  html { font-size: 20px; }
  nav { font-size: 1.25rem; }
}

header .arrow {
  font-size: 1.5rem;
  padding-bottom: 5vh;
  text-align: center;
  animation: bounce 5s infinite;
}

header .arrow a {
  text-decoration: none;
}


/*
 * Animation
 */

@keyframes bounce {
  0%, 35%, 50%, 65%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-.5em);
  }
  55% {
    transform: translateY(-.25em);
  }
}

@keyframes slidezoom {
  0% {
    transform: translateX(-20%) translateY(-50%) scale(1);
  }

  100% {
    transform: translateX(-40%) translateY(-50%) scale(1.2);
  }
}

@keyframes slidezoom-reverse {
  0% {
    transform: translateX(-40%) translateY(-50%) scale(1.2);
  }

  100% {
    transform: translateX(-20%) translateY(-50%) scale(1);
  }
}

.card h3 {
  text-align: left;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc((130px + 8px) * 6);
  margin: 2rem auto 0;
}

.gallery .photo {
  line-height: 0;
  position: relative;
}

.gallery img, .lightbox .list img {
  -webkit-filter: grayscale(25%);
  border-radius: 8px;
  margin: 4px;
  transition: .5s ease all;
}

.gallery img:hover {
  -webkit-filter: grayscale(0%) contrast(150%);
}

@media (min-width: 800px) {
  .section-part {
    display: flex;
  }

  .teaser .section-part {
    justify-content: center;
  }

  .section-part > h2 {
    margin: 0 2rem;
    line-height: 2;
    min-width: 26vw;
    text-align: right;
  }

  .section-part > .content {
    margin: 0 !important;
  }

  .subsection > h3 {
    min-width: 12rem;
    line-height: 2;
    min-width: 30vw;
  }

  .section-part > .content > h2, section h3 {
    text-align: right;
  }

  section .content {
    margin: 0;
  }

  .contactinfo {
    margin-top: 1rem;
  }

  section {
    padding-top: 2rem;
  }

  .card {
    width: 265px;
  }

  #contact .subsection .content {
    width: 650px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

footer {
  border-top: 1px solid #999;
  width: 100%;
  text-align: center;
  padding: .5rem 1rem;
  font-size: 13px;
  font-family: menlo, "courier new", monospace;
}

footer a {
  text-decoration: none;
  border-bottom: 1px solid #666;
}

@media (min-width: 800px) {
  .click-to-play-video {
    display: none;
  }
}

.teaser a {
  text-decoration: none;
  border-bottom: 1px solid white;
}

.lightbox {
  display: flex;
  background-color: #111;
  padding: 12px;
}

.lightbox .zoomed {
  margin-top: 12px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 25vh;
}

.lightbox img {
  -webkit-filter: contrast(125%) grayscale(100%);
  transition: 1s ease all;
}

.lightbox .zoomed img {
  max-width: calc(100vw - 130px - 16px - (12px * 2));
  max-height: 90vh;
  border-radius: 12px;
  margin-bottom: 12px;
  opacity: 0.3;
}

.lightbox .zoomed img.active {
  opacity: 1;
}

.lightbox .list img {
  border: 4px solid transparent;
}

.lightbox .list img.active {
  border-color: white;
}

.lightbox .zoomed img.active {
  -webkit-filter: contrast(125%);
}

.lightbox .list-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.lightbox .list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transition: 1s ease all;
  transform: translateY(0px);
}

.lightbox .list .photo {
  line-height: 0;
}

.lightbox .zoomed .photo {
  padding-top: 25px;
}

.news {
  margin-bottom: 2rem;
}